body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url("img/aurora-background.png");
  background-color: grey;
  font-family: 'Space Mono', monospace;
  color: #002D39;
}

fieldset {
  border: none;
	padding: 1rem 0;
}

form {
  width: 60vw;
	max-width: 700px;
	min-width: 300px;
	margin: 0 auto;
  padding-bottom: 2em;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

label {
  display: block;
  margin: 0.5rem 0;
}
