body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url("img/aurora-background.png");
  background-color: grey;
  font-family: 'Space Mono', monospace;
  color: #002D39;
}

fieldset {
  border: none;
	padding: 0.5rem 0;
}
/*
fieldset:not(:last-of-type) {
  border-bottom: 3px dotted #e6ffe6;
}*/

form {
  width: 60vw;
	max-width: 700px;
	min-width: 300px;
	margin: 0 auto 50px;
  padding: 3em;
  background-color: rgba(230, 255, 230, .40);
  border-radius: 30px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
  color: white;
}

label {
  display: block;
  margin: 1.5em 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #e6ffe6;
  border: 1px solid #00e600;
  color: #002D39;
}

input[type="submit"] {
  display: block;
  width: 100%
  margin: 1em auto;
  height: 2em;
  font-size: 1em;
  font-family: 'Space Mono', monospace;
  color: #002D39;
  background-color: #66ff66;
  border-color: #00e600;
  border-radius: 20px;

}

input[type="file"] {
  padding: 1px 2px;
}

p {
  margin-bottom: 40px;
}

/* KEEPIN' IT CLASSY :) */

.center {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.small-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 5em;
}
