body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url("img/aurora-background.png");
  background-color: grey;
  font-family: 'Space Mono', monospace;
  color: #002D39;
}

fieldset {
  border: none;
	padding: 1rem 0;
}

fieldset:not(:last-of-type) {
  border-bottom: 3px dotted #e6ffe6;
}

form {
  width: 60vw;
	max-width: 700px;
	min-width: 300px;
	margin: 0 auto;
  padding-bottom: 2em;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #e6ffe6;
  border: 1px solid #00e600;
  color: #002D39;
}

input[type="submit"] {
  display: block;
  width: 100%
  margin: 1em auto;
  height: 2em;
  font-size: 1em;
  font-family: 'Space Mono', monospace;
  color: #002D39;
  background-color: #66ff66;
  border-color: #00e600;
  border-radius: 20px;

}

/* KEEPIN' IT CLASSY :) */

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
