body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1604079628040-94301bb21b91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2731&q=80");
  background-color: grey;
  font-family: 'Space Mono', monospace;
  color: #007899;
}

fieldset {
  border: none;
	padding: 0.5rem 0;
}

form {
  width: 60vw;
	max-width: 700px;
	min-width: 300px;
	margin: 0 auto 50px;
  padding: 3em;
  background-color: rgba(225, 255, 225, .40);
  border-radius: 30px;
  border: 1px solid #007899;
}

h1, p {
  margin: 1em auto;
  text-align: center;
  color: #007899;
}

label {
  display: block;
  margin: 1.5em 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #e6f9ff;
  border: 1px solid #005066;
  color: #002D39;
}

input[type="submit"] {
  display: block;
  width: 100%;
  margin: 1em auto;
  height: 2em;
  font-size: 1em;
  font-family: 'Space Mono', monospace;
  color: #002D39;
  background-color: #ccf4ff;
  border-color: #007899;
  border-radius: 20px;

}

input[type="file"] {
  padding: 1px 2px;
}

p {
  margin-bottom: 40px;
}

/* KEEPIN' IT CLASSY :) */

.center {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.small-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 5em;
}
